table {
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 1px solid #393c42;
  padding: 3px;
}
table th {
  background: #202226;
  padding: .5rem .25rem;
}
table tr {
  border-bottom: 1px solid #393c42;
  padding: 3px;
}
.dcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
