table {
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 1px solid #393c42;
  padding: 3px;
}
table th {
  background: #202226;
  padding: .5rem .25rem;
}
table td {
  padding: .125rem .25rem;
}
.item-icon {
  background: #0b0b0d;
  border: 2px solid #393c42;
  border-radius: 50%;
}
a, img {
  display: inline-block;
}